.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .main {
    display: flex;
  }

    .filter {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 327px;
      border: solid 1px red;
    }

.hidden {
  display: none; // возможно visibility: hidden
}

.visible {
  visibility: visible;
}
