.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}

  .header {
    width: 100%;
  }

  .main {
    display: flex;
    width: 100%;
  }

    .filter {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 25%;
      border-right: 1px solid #D0D0D0;
    }

      .filter-bar {
        position: fixed;
        margin-top: 20px;
      }

    .content {
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.hidden {
  display: none;
}

.visible {
  visibility: visible;
}
