.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}

  .header {
    width: 100%;
  }

  .main {
    display: flex;
    width: 100%;
  }

    .filter {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 25%;
      border: solid 1px red;
    }

    .content {
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.hidden {
  display: none; // возможно visibility: hidden
}

.visible {
  visibility: visible;
}
