<div class="wrapper" *ngFor="let filterItem of filterItems">
  <div *ngIf="filterItem.checked === true">

    <div class="heading"><strong>{{ filterItem.strCategory.toString() }}</strong></div>
    <hr class="hr">

    <div *ngFor="let category of dataArray">
      <div *ngIf="filterItem.strCategory === category.title">

        <div class="container" *ngFor="let recipe of category.data; let index = index">
          <div class="row" *ngIf="index % 5 == 0">

            <div class="item">
              <div class="img-wrapper"><img src="{{ recipe.strDrinkThumb }}" alt=""></div>
              <div class="item-title">{{ recipe.strDrink }}</div>
            </div>

            <div class="item" *ngIf="index + 1 < category.data.length">
              <div class="img-wrapper"><img src="{{ category.data[index + 1].strDrinkThumb }}" alt=""></div>
              <div class="item-title">{{ category.data[index + 1].strDrink }}</div>
            </div>

            <div class="item" *ngIf="index + 2 < category.data.length">
              <div class="img-wrapper"><img src="{{ category.data[index + 2].strDrinkThumb }}" alt=""></div>
              <div class="item-title">{{ category.data[index + 2].strDrink }}</div>
            </div>

            <div class="item" *ngIf="index + 3 < category.data.length">
              <div class="img-wrapper"><img src="{{ category.data[index + 3].strDrinkThumb }}" alt=""></div>
              <div class="item-title">{{ category.data[index + 3].strDrink }}</div>
            </div>

            <div class="item" *ngIf="index + 4 < category.data.length">
              <div class="img-wrapper"><img src="{{ category.data[index + 4].strDrinkThumb }}" alt=""></div>
              <div class="item-title">{{ category.data[index + 4].strDrink }}</div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
