.container {
  //display: grid;
  //grid-template-columns: 1/5 1/5 1/5 1/5 1/5;
  //grid-template-rows: auto;
  display: flex;
  flex-direction: column;
  width: 800px;
}

.row {
  display: flex;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
}

img {
  width: 100px;
  height: 100px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
