@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container {
  width: 100%;
}

.filter-item {
  width: 100%;
  display: flex;
  padding-bottom: 21px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

  .input {
    margin-right: 5px;
  }

.filter-button {
  width: 100%;
}

  button {
    text-transform: uppercase;
    width: 180px;
    height: 39px;
    background: #4E4E4E;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }

  .btn {
    cursor: pointer;
  }
