.filter-item {
  width: 100%;
  display: flex;
  padding-bottom: 21px;
}

.filter-button {
  width: 100%;
}

  button {
    text-transform: uppercase;
    width: 180px;
    height: 39px;
    background: #4E4E4E;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #FFFFFF;
  }
